# Created by .ignore support plugin (hsz.mobi)

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

